{% load static %}
<!DOCTYPE html>
<html>
<head>

        <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div id="top"></div>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
		  <div class="overlay overlay-bg"></div>
		  <div class="container">
		    <div class="row fullscreen justify-content-center align-items-center">
		      <div class="col-lg-8">
			<div class="banner-content text-center">




                          <br/><br/>


                          <h1 class="text-uppercase text-white">{{ docente }}</h1>
                          <table width="818" class="rwd-table">
                            <tr>
                              <th width="128">Hora</th>
                              <th width="137">Lunes</th>
                              <th width="138">Martes</th>
                              <th width="133">Miércoles</th>
                              <th width="127">Jueves</th>
                              <th width="127">Viernes</th>
                              <th width="127">Sábado</th>
                            </tr>
                            {%for horario in horarios %}
                            <tr>
                              <td data-th="&nbsp;">{{ horario.hora }} - {{ horario.hend}}</td>
                              {% for dia in horario.materias %}
                              <td data-th="Lunes">
                                <a href="#miModal1"> {{ dia.asignatura  }}</a>
                              </td>
                              {% endfor %}
                            </tr>
                            {% endfor %}
                          </table>



<div id="miModal1" class="modal1">
  <div class="modal1-contenido">
    <div align="right"><a href="#">X</a></div>
    <h2>Pensamiento y discurso 2</h2>
      <p><strong>Objetivos de la asignatura</strong></p>
    <p>Familiarizar a los estudiantes con las principales concepciones de las filosofías española y gallega.
Adestrar en la capacidad para interpretar los textos filosóficos de los autores más destacados, a través de sus géneros literarios específicos.</p>
    <p><strong>Contenidos</strong></p>
    <ol>
      <li>El concepto de Hermenéutica no marco da Filosofía contemporánea.        </li>
      <li>Del mundo de la vida al mundo del texto: Fenomenología y Hermenéutica.        </li>
      <li>El ser del discurso y el discurso sobre el ser: M. Heidegger.        </li>
      <li>Hacia una fenomenología hermenéutica: la vía larga de Paul Ricoeur.</li>
    </ol>
    <p><strong>Metodología de la enseñanza </strong></p>
    <p>	Clases expositivas: Lección impartida por el profesor. El profesor puede contar con apoyo de medios audiovisuales e informáticos aunque los estudiantes no necesitan manejarlos en clase. Habitualmente estas clases seguirán los contenidos del programa, construidos a partir de la bibliografía seleccionada para cada tema. La asistencia a estas clases es básica para tener una visión panorámica de los temas tratados, por lo que es conveniente el seguimiento de éstas por parte de los estudiantes.</p>
    <p><strong>Sistema de evaluación</strong></p>
    <p>La evaluación del CONTENIDO de esta materia se hará mediante evaluación continua, contemplándose la posibilidad de un exame final, caso de que el/la estudiante no siga las pautas de evaluación continua o no la supere. </p>
    <p><strong>Recomendaciones para el estudio de la asignatura</strong></p>
    <ol>
      <li>Participar en las sesiones expositivas e interactivas.
      </li>
      <li>Trabajar con los textos indicados siguiendo las pautas dadas.</li>
      <li>Utilizar el recurso de las tutorías. </li>
    </ol><br/>
    <a href="http://www.iaen.edu.ec/wp-content/uploads/2016/08/Silabo-academico.pdf" target="_blank" download="Reporte2Mayo2010">Ver documento completo</a>
  </div>
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="{% static 'js/index.js' %}"></script>




						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		<!-- End Cta Area -->


		<script src="{% static "js/vendor/jquery-2.2.4.min.js" %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
		<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
		<script src="{% static "js/jquery.sticky.js" %}"></script>
		<script src="{% static "js/owl.carousel.min.js" %}"></script>
		<script src="{% static "js/mixitup.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	</body>
</html>
